@font-face {
  font-family: "Norse";
  src: url("/fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  color: white;
  font-family: "Norse", Courier, monospace;
}

body,
.logo-container,
.background-container {
  display: flex;
}

.background-container {
  align-items: center;
  background: url("../img/halie-west-25xggax4bSA-unsplash.jpg") no-repeat
    center/cover;
  flex-direction: column;
  min-width: 30vw;
  height: 100vh;
}

.background-container p {
  margin: auto 0 10px;
}

.background-container p a {
  color: white;
}

.logo-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 50px;
  height: 20vh;
  justify-content: center;
  margin-top: 20vh;
  min-height: 150px;
  padding: 20px 20px;
  width: 100%;
}

.logo-container img {
  height: 100%;
}
